name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  buildImage:
    name: Build Docker Image and Push it to Container Registry
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: cd application && docker build . --file Dockerfile --tag ghcr.io/antonio-villarreal/ai_classification_project/classification-app:latest
    - name: Log into GitHub Container Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login https://ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Push image to Github Container Registry
      run: |
        IMAGE_ID=ghcr.io/antonio-villarreal/ai_classification_project/classification-app:latest
        docker push $IMAGE_ID
